@charset "utf-8";

@font-face{
    font-family:Koverwatch;
    src:url(koverwatch.ttf);
    src:local(※),url(koverwatch.ttf)
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap');

*{margin:0; padding:0; box-sizing:border-box;}
ul,li,ol{list-style:none;}
a{text-decoration:none; color:inherit;}
input,textarea,button{
    outline:0;
    font-family:inherit;
}
html{width:1920px; margin:auto;}
body{
    font-family:Koverwatch;
    letter-spacing:1.5px;
    color:#333;
    user-select:none;
}